[2020-08-27 02:16] mesqueeb opened #1 "improve fields with component: 'input'"
currently using a regular "input" as "component" will render an `<input />` but the events are not working properly.

[2020-08-27 06:33] mesqueeb opened #2 "fix(docs): 1 frame of white screen when opening nav [2h]"
when you look at this frame by frame you'll see there's a single frame that's completely white when the nav menu is opened.

- [ ] need to find out why and try to fix.

could be an issue with Quasar itself.
probably css related?

https://www.dropbox.com/s/8nsvco28ahxalmg/Kapture%202020-08-27%20at%2015.26.45%202.mp4?dl=0

might be worth to try on a brand new quasar project with similar layout. if t

[2020-08-27 06:39] mesqueeb opened #3 "use planetar components on the 'dev/blitz-form' page [1h]"
`npm run dev:docs`

go to docs

need to use 2 components of planetar on this page:

<img width="866" alt="Screenshot 2020-08-27 at 15 36 12" src="https://user-images.githubusercontent.com/3253920/91400764-2ce44400-e87b-11ea-916d-7feccfa745f2.png">

- The left side without the external links on top should be a component called [TableOfContentsList](https://github.com/mesqueeb/planetar/issues/11)
-

[2020-08-27 08:13] mesqueeb opened #4 "fix(docs): hashtag anchor link & vue router issues [2h]"
- [ ] find out why clicking on a hashtag anchor link causes the route of vue router to disappear:

![2020-08-27 17 12 14](https://user-images.githubusercontent.com/3253920/91415114-869f3b00-e888-11ea-9903-3472484b4750.gif)

[2020-08-27 08:28] mesqueeb opened #5 "fix(docs): surpress initial notifications when opening docs [1.5h]"
when opening https://blitzar.cycraft.co/docs/blitz-form

you see:

<img width="504" alt="image" src="https://user-images.githubusercontent.com/3253920/91415243-b6e6d980-e888-11ea-9328-15f50975b7cd.png">

The reason is because:
- easy form emits an `input` and `field-input` event on render (this is the behaviour I want to keep)

### where to fix this issue:

might need some extra logic in the examp

[2020-08-27 10:40] mesqueeb opened #6 "can a computed field work when showCondition: false"
- Search docs for `CON: you have to include this "Computed Field" in all forms the user can edit the related fields (and probably with showCondition: false)`
- in the related example try actually making the computed field `showCondition: false` and see if it works

[2020-08-27 10:46] mesqueeb opened #7 "feat(form): add validation strategy: only on save [2h]"
propName: tbd - suggestions welcome

perhaps a prop called "executeValidation" and have it have "immediate" by default and as other options "never" and "onsave"

will need to use quasar's `lazyRules="ondemand"`

- [ ] create a doc example for it
- [ ] create the feature

[2020-08-27 10:48] mesqueeb opened #8 "feat(docs): add example of custom style [3h]"
- [ ] add an example of a form with custom style
- [ ] think about how this can be improved in the first place

[2020-08-27 10:56] mesqueeb opened #9 "feat(docs): add an example of resetting the formData & input fields [1h]"
- explain that a form only rendered once at the start, and making outside changes to the `formData` you pass to an EasyForm does not re-render the form with the new data. (for performance reasons)
- Explain that the only way to make a form "reactive" when making changes is to detect an outside change and increment a counter set as "key" manually. - this might result in loosing focus on field thoug

[2020-08-27 10:59] mesqueeb opened #10 "Replace `EasyForm` with `BlitzForm`"
also file names and any places it's used in the docs.

remember, the source of truth for the EasyForm is `packages/form` and it's copied to several locations via `npm run prepare`

[2020-08-27 11:01] mesqueeb opened #11 "Fix inline HTML code in markdown"
<img width="591" alt="Screenshot 2020-08-27 at 19 58 25" src="https://user-images.githubusercontent.com/3253920/91434529-e2c18980-e89f-11ea-8e5c-96872cbff084.png">

This fix needs to be made after finishing #3

[2020-08-27 11:08] mesqueeb opened #12 "easy-tables → BlitzTable"
- [x] add @blitzar/table in `packages/table`
- [x] add to `packages/blitzar` as well
- [x] convert the few documentation easy-table had into new documentation

[2020-08-27 11:09] mesqueeb opened #13 "deprecate easy-forms & tables [2h]"
first finish #12, #52, #51

- [x] check latest easy-forms changes & compare to current state of blitzar/form

easy-forms
- [x] update documentation website with link to blitzar website & upgrade guide release notes
- [x] deprecate on github by updating the readme
- [x] deprecate on npm

easy-tables
- [x] update documentation website with link to blitzar website & upgrade guide release notes
- [x]

[2020-08-29 05:01] #10 closed, assigned to nobody

[2020-08-29 05:02] #12 closed, assigned to nobody

[2020-08-30 02:20] mesqueeb commented on #6
yes it can

[2020-08-30 02:20] #6 closed, assigned to nobody

[2020-09-01 06:52] mesqueeb opened #14 "why do scripts run on `npm i` (let's find out)"
I don't understand why scripts run on `npm i`...
must... know... why...

<img width="1236" alt="image" src="https://user-images.githubusercontent.com/3253920/91811826-15d29700-ec6b-11ea-9349-64cdba70d9e0.png">

[2020-09-03 01:35] mesqueeb opened #17 "feat(docs): add BlitzH documentation [2h]"
I want the blitzar schema concept to be usable as a replacement for render functions: https://v3.vuejs.org/guide/render-function.html#v-on

The schema concept is really user friendly and easy to use.

But we need a more lightweight option without it necessarily wrapping a `<form>` and without the concept of "labels", "label position" etc.

PS: the `h()` of render functions stands for [HyperScript]

[2020-09-03 07:40] mesqueeb commented on #1
open issue at: https://github.com/vuejs/vue/issues/11639

[2020-09-03 07:49] mesqueeb opened #18 "feat: only use native HTML5 elements"
- [x] split up the "advanced" example between one using Quasar components as is now and one with all native HTML components

remove use of quasar components throughout the other examples, in order to simplify the documentation and make it more focussed
- [x] use HTML5 elements in BlitzForm docs
- [x] use HTML5 elements in BlitzTable docs
- [x] use HTML5 elements for BlitzTable selection
- [x] use

[2020-09-03 20:12] mesqueeb opened #19 "feat(docs): make an example using Vuetify"
- [x]  set up an example Vuetify project that implements the "advanced" example blitz-form in Vuetify, with Vuetify components.

[2020-09-03 20:14] mesqueeb opened #20 "feat(docs): make an example using Vue-CLI [1h]"
- [ ]  set up an example VueCLI project that implements the "advanced" example blitz-form in VueCLI, with any kind of components.

[2020-09-03 20:16] mesqueeb opened #21 "feat(docs): make an example using Nuxt [1h]"
- [ ]  set up an example Nuxt project that implements the "advanced" example blitz-form in Nuxt, with any kind of components.

[2020-09-03 20:25] mesqueeb commented on #1
I guess the temporary fix is the official fix, as per that vuejs issue : P

[2020-09-03 20:25] #1 closed, assigned to nobody

[2020-09-17 08:34] mesqueeb opened #23 "fix(docs): a broken example form element"
Power origin toggle button is not working
![2020-09-17 17 33 59](https://user-images.githubusercontent.com/3253920/93445666-09596a00-f90c-11ea-9019-e2efdbf4a252.gif)

[2020-10-11 03:31] #23 closed, assigned to nobody

[2020-10-12 23:15] #3 closed, assigned to mesqueeb

[2020-10-13 02:38] #5 closed, assigned to nobody

[2020-10-14 12:01] mesqueeb opened #24 "feat(docs): create advanced example in pure HTML5"
Change the "advanced example" in basics to only use HTML5 elements.

[2020-10-14 12:34] mesqueeb opened #25 "fix(docs): make markdown hashtag links scroll to elements properly"
after `mounted` just detect all links that start with `#`, and then attach an eventListener that does `e.preventDefault()` and `e.stopPropagation()` and then uses Quasar scroll utils to scroll to the element.

also don't forget to add the hashtag to the URL:
[code]

[2020-10-14 12:36] #4 closed, assigned to nobody

[2020-10-14 14:28] mesqueeb opened #26 "feat(docs): page should move to section in URL hash upon reload"

[2020-10-14 14:42] mesqueeb opened #27 "feat(docs): improve style of <code> markdown text"
<img width="608" alt="image" src="https://user-images.githubusercontent.com/3253920/96004831-cfca3f00-0e76-11eb-9896-7dbbb7e7a737.png">

[2020-10-15 03:01] #24 closed, assigned to nobody

[2020-10-15 03:02] mesqueeb opened #28 "feat(docs): make an example using Bulma [1h]"

[2020-10-15 03:02] mesqueeb opened #29 "feat(docs): make an example using Tailwind [1h]"

[2020-10-16 01:30] mesqueeb opened #30 "build: offload package.json scripts to ts-node scripts"
I don't mind the `dep:` scripts, but the others are currently getting out of hand...

I just need these scripts:
- dev
- dev:docs
- publish

And all other things that happen should happen in a ts-node script inside `scripts/`, using the dependency `fs-extra` as much as possible.

Also:
Anything that happens in the `prepare` script should be automated with a watcher somehow:
- whenever anything in

[2020-10-16 03:30] mesqueeb opened #31 "planned breaking changes; ETA TBD"

[2020-10-16 03:47] mesqueeb opened #32 "feat(docs): Review entire documentation [8h]"

[2020-10-16 03:49] mesqueeb opened #33 "feat(docs): add BlitzField documentation page [2h]"
a separate doc page ?
or just the api card ?

[2020-10-16 03:50] mesqueeb opened #34 "feat(docs): add BlitzMiniForm documentation page [2h]"
a doc page with some examples might be nice
and an api card at the bottom

[2020-10-16 04:03] mesqueeb opened #35 "build: set up CI"
develop on `dev` branch -- make `dev` the "main" branch

### wishes for CI
1. opening a PR to `production` (or even to `dev`) to run automated tests
2. can only merge into `production` if automated tests passed
3. automatic version increase (maybe like lerna a choice...? need to discuss)
4. automatic release notes (based on commit messages)
5. automatic deploy of documentation (firebase hosting, s

[2020-10-17 02:28] mesqueeb opened #36 "deprecate BlitzDiv"

[2020-10-20 01:25] mesqueeb opened #37 "feat(table): improve targetable CSS classes"
Currently the classes to target in a table are a mess

- [x] Adding a blitzar class to `headerClasses` and having the dev target that seems like a good option.

We also need one for `footerClasses` but that doesn't exist in Quasar yet.

- [x] make a Quasar PR for adding `footerClasses`: https://github.com/quasarframework/quasar/issues/7723

[2020-10-20 23:52] mesqueeb opened #38 "refactor(table): try to deprecate BlitzRow and BlitzCell and reuse logic from BlitzForm"
Currently I'm replicating how BlitzForm and BlitzField behave with BlitzRow and BlitzCell. But this quickly becomes unmanageable and is very WET.

I might be able to deprecate BlitzRow and -Cell completely by providing a scoped slot in BlitzForm to which I pass the data used to render the BlitzFields.

Then in BlitzTable use BlitzForm and use the slot to render a QTr and v-for on QTd's in which I

[2020-10-24 02:05] mesqueeb commented on #38
done!

[2020-10-24 02:05] #38 closed, assigned to mesqueeb

[2020-10-24 03:36] mesqueeb commented on #36
done!

[2020-10-24 03:36] #36 closed, assigned to mesqueeb

[2020-10-24 03:37] #18 closed, assigned to mesqueeb

[2020-10-24 05:50] #9 closed, assigned to nobody

[2020-10-24 07:24] #37 closed, assigned to nobody

[2020-10-24 08:02] mesqueeb commented on #33
let's do just the api card for now

- [x] review the prop documentation for BlitzField
- [x] add a component explanation
- [x] improve the example values

[2020-10-24 12:24] mesqueeb commented on #8
the style really is in what components you use and not much more.
I guess I can think of some creative ways using nice field background colours, but I'd say this is low priority for now.

[2020-10-24 14:12] #33 closed, assigned to nobody

[2020-10-24 14:24] #31 closed, assigned to nobody

[2020-10-26 11:53] #27 closed, assigned to nobody

[2020-10-26 12:00] mesqueeb opened #39 "feat(docs): clarity on BlitzField grid usage"
Need to write something on how BlitzField uses grid and how it can be changed with CSS

[2020-11-11 08:01] mesqueeb opened #40 "feat(docs): add example of a small form with an ol to which you can add items"
inspired by
[code]

[2020-11-21 10:09] mesqueeb opened #41 "feat(docs): add header "components" dropdown menu"

[2020-11-21 10:12] #34 closed, assigned to nobody

[2020-11-21 10:13] mesqueeb opened #42 "write; review; release blog post"
- [x] write
- [x] review (@AndrewKoch )
- [x] release

[2020-11-23 05:09] mesqueeb opened #43 "Review semantics"
- [x] make chapters title case
- [x] make prop names usage backticked``
- [x] make self-made concepts title case
- [x] remove periods at the end of bullet point sentences
- [x] add  — to bullet point concepts

[2020-11-25 07:55] mesqueeb opened #44 "feat(docs): extra BlitzListForm examples"
add these

- [ ] an example of usage of `maxRows` prop

[2020-12-10 02:50] #41 closed, assigned to mesqueeb

[2020-12-10 02:50] #43 closed, assigned to mesqueeb

[2020-12-17 05:43] #39 closed, assigned to mesqueeb

[2020-12-19 02:20] mesqueeb commented on #14
cannot have a script called `"prepare"`...

https://docs.npmjs.com/cli/v6/using-npm/scripts#life-cycle-scripts

[2020-12-19 02:20] #14 closed, assigned to nobody

[2020-12-19 06:19] mesqueeb opened #49 "fix issues outside of Quasar projects with `$q` not available on prototype"
when `$q` is not available on prototype, we should provide it in order for some components not to break.

The 2 required props I've found so far are $q.dark and $q.iconSet.field

[code]

[2020-12-21 05:30] #20 closed, assigned to nobody

[2020-12-21 12:21] #49 closed, assigned to nobody

[2020-12-21 12:23] #19 closed, assigned to nobody

[2020-12-25 01:53] mesqueeb commented on #42
done with the writing! Bless me with your Gift @AndrewKoch !

[2021-01-03 01:08] mesqueeb opened #51 "docs: documentation tasks for release"
- [x] https://github.com/CyCraft/planetar/issues/28
- [x] https://github.com/CyCraft/planetar/issues/26

[2021-01-03 01:14] mesqueeb opened #52 "docs: write upgrade guide for easy-forms users"
Finilise the release draft:
https://github.com/CyCraft/blitzar/releases/tag/untagged-818284fa88bc48928931

- [x] add top section: `Blitzar release! see blog post here: ... see documentation here: ...`
- [x] add bottom section title: `upgrade guide from easy-forms`
- [x] add links to documentation website for all sections below

[2021-01-08 05:03] mesqueeb opened #53 "docs: add something on form style responsive columns (screen width)"
targeting `.blitz-form__form`
you can apply responsive columns (I think)
eg.
[code]

need to add some example similar to this to docs.

[2021-01-08 05:05] mesqueeb opened #54 "feat(docs): add style example for BlitzListForm"
should add example styling css for blitzlistform
eg. make a nice list with lines in between?

[2021-01-08 06:41] #42 closed, assigned to AndrewKoch

[2021-01-08 06:41] mesqueeb commented on #42
hurray!
https://lucaban.medium.com/better-faster-vue-forms-with-blitzar-a0d71258a3bb

[2021-01-08 06:44] #51 closed, assigned to nobody

[2021-01-08 06:50] #52 closed, assigned to nobody

[2021-01-08 07:24] #13 closed, assigned to nobody

[2021-01-08 07:35] mesqueeb opened #55 "Vue 3 support"
I have released the official Vue 3 Blitzar! 🎉

- See new docs:
https://blitzar.cycraft.co/

--

- [x] double check wether or not the documentation of blitzar covers all use cases & features for the Vue 2 version
- [x] recreate the documentation in Vite + Vue 3 with all the markdown content ready.
- [x] start implementing all the examples of the docs one by one.
  - [x] completely rewrite BlitzForm

[2021-01-16 23:43] mitjarobic opened #56 "BlitzListForm - validation message"
Hello,

how would I put a validation message under a quasar input field in a specific row? For example a second row.

Thanks.

[2021-01-17 00:47] mesqueeb commented on #56
you can do so with rules eg.
[code]
this should be possible as well for a list form

[2021-01-17 00:52] mesqueeb opened #57 "feat(docs): add validation example for BlitzListForm"

[2021-01-22 21:41] mitjarobic commented on #56
Thank you. But I have an external validation so I need to set attributes on a field. Specifically 'error-message' and 'error' on QInput field. When I do that all rows get the same error message. I need to target only a specific row. For example the second one. How would I do that?

[2021-01-22 22:44] mesqueeb commented on #56
Try this !
[code]

As you can see you can do the same thing for the error field and you can also access the formData for the entire row

[2021-01-24 14:49] mitjarobic commented on #56
Thank you. I got what I needed in {$attrs} key .

[2021-01-24 14:49] #56 closed, assigned to nobody

[2021-01-24 21:20] mesqueeb commented on #56
I think there might be a better option than accessing the $attrs key. Can you post your solution so I can have a look?

The danger about the attrs key is that if I make internal changes you might not be able to get the same info as you do now.

[2021-01-26 23:42] mitjarobic commented on #56
I am still using https://github.com/mesqueeb/quasar-ui-easy-forms. Haven't had time to update it yet.

`
errorMessage: (val, { $attrs }) => $attrs.rowIndex === 2 ? 'an error' : '',
`

[2021-01-28 00:25] patcarter883 opened #58 "Importing blitzar components resets builtin Quasar styles"
After importing the BlitzForm component a large number of builtin Quasar styles are being reset.

![image](https://user-images.githubusercontent.com/33055183/106072014-7c48dc00-615b-11eb-8481-132efb41a71b.png)

[2021-01-28 01:45] mesqueeb commented on #58
@patcarter883 i scoped any quasar CSS class resets to be just within BlitzTable and BlitzForm.
I didn't mean it to break anything though, but I might have screwed up some scoping.

Canyou tell me what is breaking because of these resets ?

[2021-01-28 05:21] patcarter883 commented on #58
It appears to be taking precedence over the row and col classes that Quasar
uses.

The screen shot I attached shows overriding for a div that has class
col-md-6 and it is using the class defined in the blitzar components.

On Thu, 28 Jan 2021, 12:45 pm Luca Ban, <notifications@github.com> wrote:

[2021-01-28 05:34] mesqueeb commented on #58
Can you give me the schema you use so I can try and replicate it on my end to debug ?

[2021-01-30 11:09] TurningTide commented on #58
Got same behavior by importing BlitzForm in one of my components.
_Edit:_
It happens in whole project once i use Vue.use with component that has BlitzForm import.
If importing locally, the styles break at the first render of the BlitzForm

[2021-01-30 13:02] mesqueeb commented on #58
Can you share a repo that I can have a look?

[2021-01-31 02:50] patcarter883 commented on #58
I can invite you to it. But it is only the front end repo, I'm not able to
provide access to the back end so it will be not functional.

Will that be enough for you to look at, or I can do a quick mockup of
something that replicates the problem that I can make public.

On Sun, 31 Jan 2021, 12:02 am Luca Ban, <notifications@github.com> wrote:

[2021-01-31 03:07] mesqueeb commented on #58
Yes if you can provide me with a blitzar schema that uses quasar components that where I can see the issue I can replicate and fix it :)

[2021-02-08 13:31] mesqueeb commented on #58
@TurningTide @patcarter883 fixed in latest version: `v0.0.15`

[2021-02-08 13:31] #58 closed, assigned to nobody

[2021-02-28 21:50] RobinRadic opened #59 "typescript types"
Quickly mashed this together, for anyone interested.

**blitzar.d.ts**
[code]

[2021-03-01 02:15] mesqueeb commented on #59
@RobinRadic Thank you so much for this!

What's the best way to include this in the source code you recon?

[2021-03-01 22:27] RobinRadic commented on #59
@mesqueeb Your welcome
Check #60
It should do the trick for now, until someone creates proper type definitions for all packages.

[2021-03-07 03:29] Peter-Gabel commented on #55
Is there an estimate on when this might be available?  Or, alternatively, any insight into what needs to be done to migrate to Vue 3?

[2021-03-07 04:34] mesqueeb opened #61 "automatically strip `undefined` field key from newData emitted on save"

[2021-03-07 04:36] mesqueeb opened #62 "automatically emit `formData` upon save"
besides `newData` and `oldData` I should also emit `formData`

[2021-03-07 04:57] mesqueeb opened #63 "prevent unnecessary warning related to grid view"
do not throw this warning in case the user doesn't need grid view:
<img width="794" alt="image" src="https://user-images.githubusercontent.com/3253920/110229466-03ecec00-7f4d-11eb-8b81-7200c8f26c9e.png">

[2021-03-08 02:18] #59 closed, assigned to nobody

[2021-03-08 02:20] mesqueeb opened #64 "improve types"
currently:

- manual type file located at `packages/blitzar/index.d.ts`

after vue 3:

- [x] the library needs to be entirely in typescript
- [x] automatically extract types into type files per package
- [x] re-export all types from blitzar package

[2021-03-08 04:12] mesqueeb commented on #55
This is a great question!

Currently Blitzar uses QForm and QTable under the hood.
I plan to make the library way more Framework Agnostic by removing the dependencies on QForm and QTable.

I have nothing against QForm and QTable, but the issue is: using those as dependency introduces a lot of global CSS pollution in projects. So currently it's really annoying when using Blitzar in Non-Quasar proje

[2021-03-08 04:17] mesqueeb opened #65 "refactor: Remove QForm dependency"

[2021-03-08 04:19] mesqueeb opened #66 "refactor: remove QTable dependency"
I have to consider to either find & use a barebones table vue library that doesn't have global CSS pollution.

Or build my own implementation of a vue table that renders a data table. : )

If anyone wants to help out, please let me know!

[2021-03-08 05:07] mesqueeb commented on #59
@RobinRadic how did you generate this file? in the future I'd need to auto generate this.

It will be easy once the entire library uses Vue 3 and TypeScript (planned) but in the meanwhile I'm interested to know how you generated this file!

[2021-03-08 06:42] Peter-Gabel commented on #55
I do not mind the QForm and QTable dependencies; Quasar v2 beta appears to be very stable and I am using Quasar for my application.  So my preference is for movement to Vue 3 first.  I looked at the Blitzar code and thought that there would not be too many changes but I was not confident in my doing it myself.

[2021-03-08 06:46] mesqueeb commented on #55
@Peter-Gabel the thing is, I rather wait until Quasar's official Vue 3 release.
If you want to help out and try using the current Quasar Vue 3 beta, you can help me out on a new branch. Do you want to try?
We can have a short zoom session if you'd like where I show you how to best do it if you're still new to contributing on Github.

[2021-03-08 15:22] RobinRadic commented on #59
I did not generate it. It's 'manually' typed. Not really because most of it it straight from the source code itself:

1. i copy all the lines for [props from BlizzField](https://github.com/CyCraft/blitzar/blob/1090b05ff5aa46d1b136a7e8f86a77ea9fe748b0/packages/form/src/components/BlitzField.vue#L218)

2. i paste it
[code]
3. edit it into correct typescript

[2021-03-08 23:50] Peter-Gabel commented on #55
Yes.  I'd love to get right on it but it will take me about a week to find the time in my schedule.  If you could propose when might be convenient for you, I would be grateful for guidance including any insights that you could share about migrating the code to Vue 3.  I'm still getting up to speed on Vue 3 - I keep dropping into Vue 2 idioms and then need to remind myself of the differences.  I am

[2021-03-09 02:30] mesqueeb commented on #55
what's your discord tag?

[2021-03-09 08:26] mesqueeb opened #67 "fix(BlitzListForm): generate `formData` when used as standalone"
I don't understand how the example can use this:

<img width="779" alt="image" src="https://user-images.githubusercontent.com/3253920/110440966-954e9080-80fc-11eb-8310-dbe8ee23e633.png">

while from my source code I believe this is not possible.

[2021-03-09 23:06] mesqueeb commented on #59
@RobinRadic last versions improved the types some more.

[2021-04-01 05:54] altezza04 opened #68 "Separator & Heading"
How to add a separator like <q-seperator /> or some heading in the middle of the form ?

[2021-04-01 13:35] mesqueeb commented on #68
you can just use stuff like this in your schema:
[code]
or for a line
[code]

[2021-04-04 06:50] altezza04 commented on #68
Thanks!

And how to display Image tag 'img', i can use slot: 'img' but I want the value from evaluatedProps

how will that possible? Thanks

[2021-04-04 10:14] mesqueeb commented on #68
@altezza04 you can do 2 things:
- quick:
[code]
basically, if your formdata has a prop called `imgUrl` it will show up as image with this code.

- proper:

you can also create a vue file that simple takes `value` as prop and displays the image:
[code]
this would give the same result, but is easier maintainable in the long run and cleaner imo.
In this can you could call your vue component something

[2021-04-05 03:06] altezza04 commented on #68
Thanks

[2021-04-07 03:11] mesqueeb opened #69 "bug: action buttons inherit form mode"
`schemaOverwritableDefaults`

[2021-04-07 04:36] #69 closed, assigned to mesqueeb

[2021-04-07 15:15] eyleron opened #70 "Project Future Plans, Longevity"
I'm intrigued by your work, as I'm looking for a form generator and a schema representation for forms that can be output server-side (e.g. via API) from database-driven app.

Blitzar appears less verbose than projects like [VFJS](https://github.com/jarvelov/vue-form-json-schema), but I suspect with that comes a tradeoff between terseness and control...like VFJS requires a UI Schema and includes le

[2021-04-07 15:21] eyleron commented on #17
So is the concept of BlitzH that it'd be used if one wanted to use schema to render non-form components? Lists, cards, panels, maps, etc.?

[2021-04-07 15:35] eyleron commented on #8
But there is a "style" in the layout scaffolding _around_ the components in schema: the concept of columns, blitz-field, blitz-field__label, etc., don't you think?

I don't have particular complaints about the wrapper of the blitz form/field/grid, but just thinking about potential customization in future...would there be a way to abstract that scaffolding such that it could be configured somewhere

[2021-04-07 20:43] mesqueeb commented on #17
@eyleron yes! Still not sure how verbal I want to be about this component. But it's already used throughout the library to render div fields etc.

[2021-04-08 01:04] mesqueeb commented on #8
@eyleron
Yes, you are correct!

I would love this as well. But I'm not sure how to best approach it yet.

### How to currently style the wrapper of the blitz form/field/grid.

styling related settings via props:
- `labelPosition="left"` / `"top"` (but overwritable with CSS) ([docs](https://blitzar.cycraft.co/docs/blitz-form#left-labels))
- `columnCount="2"` / etc. (on the form itself)
- `span: tru

[2021-04-09 03:28] mesqueeb commented on #70
thanks for your comment.

I don't mean to do this at all! I don't want to impose a grid, but I don't have any good ideas how to do it differently right now. Do you have some ideas? I've explained the current situation around styling and the grid in #8  I'd greatly appreciate if you have any input, feel free to post there!

I currently am the only maintainer on this project but if anyone is willing

[2021-04-22 12:49] mesqueeb opened #71 "fix(docs): add a line saying what a schema is"

[2021-04-22 13:03] mesqueeb opened #72 "fix(docs): fields are not disabled on disabled input"

[2021-04-30 04:44] sanjaygyawali opened #73 "Blitz table."
Is quasar required dependency to be installed for  blitztable . I got the error  table is not defined in Qtable .

[2021-04-30 11:00] mesqueeb commented on #73
I'm very sorry! The BlitzTable doesn't work yet outside of Quasar CLI apps. I plan to replace QTable with something that works everywhere and is not bound to a UI Framework with #66. However this will probably not be soon because I'm busy on some other projects.
Any help much appreciated!!

[2021-05-04 02:14] #61 closed, assigned to nobody

[2021-05-06 18:10] josejachuf opened #74 "Class row in div component"
Hi, this is my first day with blitzar. I use this with quasar framework.

I try do:

[code]

I get this:

[code]

And I hope to get the **row** class in the first div

[code]

Consequently I see the divs stacked instead of seeing them in columns

Jose

[2021-05-06 18:26] josejachuf commented on #74
Doing this I get what I want.

Using componentClasses, but only in first div, in the internal div I keep using class. If replacement class by componentClasses stops working
[code]

[2021-05-16 15:55] sanjaygyawali commented on #73
Thank you

[2021-05-16 15:55] #73 closed, assigned to nobody

[2021-05-16 16:11] sanjaygyawali opened #75 "How to span fields of blitz list form to multiple row ?"
Current Arrangement :
[ a, b, c ],
[ a, b, c ],
[ a, b, c ],

Required Layout :
[
    a, b,
    c
],
[
    a, b,
    c
],
[
    a, b,
    c
],

[2021-05-17 01:48] mesqueeb opened #76 "feat(docs): improve explanation on how edit/save/cancel work under the hood"
and

make sure this is crystal clear!!

[2021-05-17 01:49] mesqueeb opened #77 "feat(docs): deprecate QDialog for Vue Final Modal"
https://github.com/vue-final/vue-final-modal

[2021-05-17 07:53] mesqueeb commented on #75
Yes it's possible with { span }I'll come back here late tonight to give more info.

[2021-05-26 05:28] sanjaygyawali commented on #75
@mesqueeb Have you got time to see on this ?

[2021-05-26 07:35] mesqueeb commented on #75
@sanjaygyawali Sorry I had forgotten about it.

I have created an example for you of how this can be done.
Please check the new documentation:

https://blitzar.cycraft.co/docs/blitz-list-form#multirow-example

[2021-05-26 07:35] #75 closed, assigned to nobody

[2021-06-06 02:17] #77 closed, assigned to nobody

[2021-06-17 05:52] XiongLiding opened #78 "Label Slot repeat in BlitzListForm"
Try to append a red star sign with label slot (for figure out required field), then it appears in every row.
Is it on purpose? If label only show once, maybe label slot shoud too.

Another problem: if set rules property (not empty) on QInput with outlined, result double outline.

![CleanShot 2021-06-17 at 13 36 23@2x](https://user-images.githubusercontent.com/679318/122337628-2c837980-cf71-11eb-88

[2021-06-17 08:17] mesqueeb commented on #78
@XiongLiding

Yes I agree. I overlooked this. Will fix.

This is also a bug. Fix coming.

[2021-06-17 08:22] mesqueeb commented on #78
@XiongLiding I just released `0.0.29`, please try and let me know if these two issues are fixed

[2021-06-17 12:23] XiongLiding commented on #78
I've tested.
- outline fixed
- label slot dose not.

`slot` should be `slots`.
[code]

[2021-06-17 13:08] mesqueeb commented on #78
@XiongLiding you're right 😅

[2021-06-17 13:10] #78 closed, assigned to nobody

[2021-06-17 13:13] mesqueeb commented on #78
@XiongLiding please try 0.0.30 and let me know if it fixed it! ;)

[2021-06-17 23:12] XiongLiding commented on #78
Thanks, It works now.

[2021-07-17 02:21] mesqueeb commented on #66
## features to consider for Vue 3 version

custom sorting
- QTable: sorting per column √
- SmartTable: sorting per column √

selection
- QTable: built in checkbox - customisation via slot
- SmartTable: built in row select - customisation via CSS only
- [ ] BlitzTable: Build in. TBD: build into Blitzar or PR into SmartTable

grid mode
- QTable: built in
- SmartTable: DIY - no docs
- [ ] BlitzTable:

[2021-07-20 13:12] hermesalvesbr opened #79 "Is compatible with Quasar 2?"
Great project! I know about this project yesterday, congratulations about this idea.

This project, is compatible with new Quasar 2?

[2021-07-20 15:15] mesqueeb commented on #79
@hermesalvesbr not yet!
I have plans to make Blitzar compatible with Vue 3 and Quasar 2 within the next 3-6 months. I'm slowly working on it. : )

You can follow this issue for updates
https://github.com/CyCraft/blitzar/issues/55

[2021-07-20 15:15] #79 closed, assigned to nobody

[2021-07-20 15:17] mesqueeb commented on #70
follow this thread for updates on Vue 3:
https://github.com/CyCraft/blitzar/issues/55

[2021-07-20 15:17] #70 closed, assigned to nobody

[2021-07-20 15:21] mesqueeb commented on #64
will use this after rewriting the library in Vue 3
https://github.com/egoist/vue-dts-gen

[2021-07-20 15:22] #32 closed, assigned to AndrewKoch

[2021-07-20 15:23] #2 closed, assigned to nobody

[2021-07-20 15:29] mesqueeb commented on #74
@josejachuf yes, you've correctly deduced the correct schema in this case!
you need to use componentClasses, because it's what will be used on your component, in this case the `div`. Because `class` is what's applied to the outer class, which is the div with the label etc.

The inner components inside a `slot` have slightly different behaviour, because they do not render fields with labels, but th

[2021-07-20 15:29] #74 closed, assigned to nobody

[2021-07-25 07:19] XiongLiding opened #80 "BlitzListForm Auto populates the next empty row conflict with required filed"
When you fill any required filed, there will show next row, which also have required field, make the form can't be submit.
need a config to stop auto populate and an function `addRow` just like `deleteRow`

[2021-07-25 08:35] mesqueeb commented on #80
Can you give me the schema you're using ?

[2021-07-25 09:56] XiongLiding commented on #80
I found the problem, the required's default tip is in English, I need locale it, so I customize my required function use rules, Maybe that's the reason.

The good news is that I aleady implement add/remove function without modify the BlitzListForm source code.

Set BlitzListForm's maxRows to 1, then add an `add` button.
[code]

![49beb2a1fa61a82962b80db7f3050725](https://user-images.githubusercont

[2021-07-26 05:21] #80 closed, assigned to nobody

[2021-08-01 03:53] mesqueeb opened #81 "fix: use `<label>` for labels"
<img width="738" alt="image" src="https://user-images.githubusercontent.com/3253920/127758611-8592a8e8-4cb9-4b43-b042-98086b8041d6.png">

[2021-08-03 03:21] Am3ra commented on #55
@mesqueeb Seeing as quasar already updated to Vue3, is there any issue updating now?

[2021-08-11 21:05] mesqueeb commented on #55
@Am3ra I will do my best to try to find the time to work on it!! Your [support](https://github.com/sponsors/mesqueeb) is much appreciated! : )

[2021-08-13 04:20] mesqueeb commented on #55
ps: WIP on this branch
https://github.com/CyCraft/blitzar/tree/v1.0.0

[2021-09-19 12:03] mesqueeb commented on #55
Finished BlitzForm and BlitzListForm.

Now working on BlitzTable. Looking at `vue-dataset` and `vuejs-smart-table`.

[2021-10-25 12:17] FelipeVeiga commented on #55
I'm anxious to use in quasar v2, thanks from Brazil.

[2021-11-02 07:57] ymarcon opened #82 "showCondition does not clean form data"
Hi,

In the [Show or Hide a Field Based on Another Field](https://blitzar.cycraft.co/docs/blitz-form#show-or-hide-a-field-based-on-another-field):
* select the checkbox
* enter data in the input fields that appeared
* deselect the checkbox

=> `formData` still contains the input data, which are then invalid

[2021-11-02 20:52] WayneBuckhanan commented on #55
Loving what I'm seeing so far with Blitzar.
Looking forward to the updates to support the latest version of Quasar.

[2021-11-03 00:57] mesqueeb commented on #82
@ymarcon thanks for your post.

Can you post your full schema here?
I want to check your schema where the showcondition is set, and what controls that condition.

I have some ideas that I think can help you.

The main idea is to clear the field with the `fieldInput` helper function when you hide/show the field.

[2021-11-03 00:59] mesqueeb commented on #55
Thanks guys. I will try to host the new docs and release beta version this week. BlitzForm and BlitzListForm are already done and usable in beta in Vue 3 projects.

[2021-11-03 08:09] ymarcon commented on #82
I have just used the online demo (see the link). I guess there is a workaround as you suggested, but I think it should be a built-in feature otherwise unexpected data will be collected. It is more than a "show" condition, it should really be part of the data schema.

[2021-11-05 14:38] WayneBuckhanan commented on #55
Thanks, Luca. I'm using BlitzTable in a new Quasar project and had to drop back to v1 because this library is helpful enough to make it worth doing that. Personally, I'd rather see it working with QForm and QTables than wait for the non-Quasar refactoring.

[2021-11-06 12:04] #65 closed, assigned to nobody

[2021-11-07 02:53] mesqueeb commented on #55
I was able to deploy the docs for Vue 3 here:
https://blitzar-next.web.app/blitz-form/

You can install the Vue 3 compatible BlitzForm by
[code]
and use it according to the new docs.

Also check out the breaking changes documented in the first post of this thread.

---

I will continue to update here once I make progress hosting the new docs and also updates on the Vue 3 compatible BlitzTable.

[2021-11-07 06:21] mesqueeb commented on #55
I was able to deploy the docs for Vue 3 here:
https://blitzar-next.web.app/blitz-form/

[2021-11-12 15:38] ymarcon commented on #53
Hi, do you have a working example of style for a responsive grid?

[2021-11-16 16:03] ymarcon opened #83 "Misusage of disabled HTML attribute"
I am playing with v1.0.0 branch + quasar. It appears that options, toggle, slider etc components are in the disabled state despite the blitzar form mode is 'edit'. It is because the `disabled` HTML attribute is misused: the statement `disabled="false"` is not valid because what matters is the presence or not of this attribute. Then whatever the value is assigned to `disabled`, the component will b

[2021-11-16 22:09] mesqueeb commented on #83
@ymarcon good catch! I will fix it asap

[2021-11-18 10:04] ymarcon commented on #74
I am resurrecting this discussion because I wonder whether a fully functional field (labels, component etc) could be placed in a `slot`? That would be great for fine tuning the "layout" of a form.

[2021-11-18 12:00] mesqueeb commented on #74
It depends on what exactly you want to do/achieve.

I feel a little bit that complex fine tuning requirements most of the time lead to very complex schema's, so you're usually better off writing  your own custom form in a Vue file without Blitzar in that case.

But I'm still interested in hearing your exact use case or what you are trying to build. @ymarcon

[2021-11-18 14:30] ymarcon commented on #74
My use case is about separating the form logic (definition of the fields, visibility condition, validation) from its "layout": advanced users (eg interviewer) with a large screen would prefer to have all fields in a single page for efficiency (and then the layout needs to be as compact as possible with a responsive grid), whereas regular users (eg respondent) would need more guidance, with a multi

[2021-11-18 14:48] mesqueeb commented on #74
@ymarcon sounds like a cool concept. In this case I'd rather improve the layout features of Blitzar than allowing any component to render in `slot`.   : )

Working with `slot` gets complex fast to support in all use cases, and it will potentially open up the door to a bunch of edge cases I gotta go fix then... 😅

I'm interested however to give Blitzar better layout tools.

I'd like to ask you to p

[2021-11-18 17:00] eyleron commented on #81
Note that you can use` aria-labelledby="div_id_of_signin_text"` on the control (input) so assistive technology knows what the label is. You'd use `aria-describedby `for field instructions and errors, too.

[2021-11-19 09:26] WaltiDev commented on #55
I got the error in my browser with Quasar:
_[Vue warn]: Failed to resolve component: CodeBlock
If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.
  at <Blitzar onVnodeUnmounted=fn<onVnodeUnmounted> ref=Ref< null > >_

  I tried to register the component in boot - but did not help => What do I need to do to make it work with qu

[2021-11-19 09:56] mesqueeb commented on #55
@WaltiDev did you globally register CodeBlock?

[2021-11-19 10:26] WaltiDev commented on #55
I think yes: My "quasar boot file" has filename "blitzar.js" and is located in the /src/boot/ folder.
_import { boot } from 'quasar/wrappers'
import { BlitzForm } from '@blitzar/form'

export default boot(async ({ app }) => {
  app.component('BlitzForm', { BlitzForm })
  app.component('CodeBlock', { BlitzForm })
})_

And in quasar.conf.js I added "blitzar" into boot:
    boot: [
      'blitzar'

[2021-11-19 11:45] mesqueeb commented on #55
your code seems wrong.

First of all, you need to globally register BlitzForm like so:
- ✅ correct: `app.component('BlitzForm', BlitzForm)`
- ❌ wrong: `app.component('BlitzForm', { BlitzForm })`

And second of all, I think you have a typo for CodeBlock. Where are you getting this component from?
- ✅ correct: `app.component('CodeBlock', CodeBlock)` (but you need to import it from somewhere)
- ❌ wro

[2021-11-25 16:55] ymarcon commented on #82
For the record, I was able to workaround with the `updateField` function.

[2021-11-25 16:56] ymarcon commented on #83
Any update about this issue? Could you show me where these attributes are handled in the code?

[2021-11-25 23:01] mesqueeb commented on #83
@ymarcon haven't gotten around to it yet : S

Here you find the source code of BlitzField where we would need to update the label elements:

https://github.com/CyCraft/blitzar/tree/v1.0.0/packages/form/src/components

[2021-11-29 15:53] ymarcon commented on #83
Could you give me some guidance for setting up the development flow? I have tried with `npm run dev:vue-cli` but the vue app is broken. How do you proceed?

[2021-12-03 23:59] mesqueeb commented on #83
@ymarcon I have cherry picked only your last commit and merged it into `1.0.0`.
Thanks for separating those!

I will try to improve documentation on the development flow and how you can help out going forward. It's a bit messy now because of the transition, but will definitely cleanup after releasing 1.0!

[2021-12-04 00:19] mesqueeb commented on #83
@ymarcon released on `@next`
please install with
[code]
https://www.npmjs.com/package/@blitzar/form

[2021-12-04 00:19] #83 closed, assigned to nobody

[2021-12-09 15:06] phineas629 commented on #55
Hi,

Is there a timeline for when BlitzTable will work with Vue 3?
I migrated to quasar v2 recently and would love to implement Blitzar.

[2021-12-09 22:35] mesqueeb commented on #55
@phineas629 yes I've been working on it this week and hopefully have something out next week.

[2021-12-10 02:08] phineas629 commented on #55
@mesqueeb sweet!
I really want to try Blitzar out.
If it's a fit then you got my support.

[2021-12-10 11:55] suplere opened #86 "Props actionButtonsPosition"
Hello,

I use BlitzForm (version 1.0.3), but props actionButtonsPosition does not any effect, Actions buttons are allways on the top-right possition.

[2021-12-16 02:17] mesqueeb commented on #86
@suplere I will test soon!! sorry haven't found time to look into it yet.

PS: you can also help if you want with a PR

`git checkout v1.0.0`
`npm i`
`npm run dev`

should be good to develop this. I have checked the docs and we currently have no example section on the `actionButtonsPosition` at all, so feel free to add it and test the implementation.

[2021-12-17 16:36] #82 closed, assigned to nobody

[2021-12-17 16:39] ymarcon opened #90 "merge is not defined helpers.js"
I have this error with version 1.0.5:

[code]

Looks like this import is missing in `form/src/components/helpers.js`:

[code]

[2021-12-18 02:46] mesqueeb commented on #90
@ymarcon sorry I broke a bunch of stuff last release. Will get a fix out in few hours

[2021-12-18 10:02] #64 closed, assigned to nobody

[2021-12-18 10:03] mesqueeb commented on #66
closing because QTable has been removed. Will reference this issue later for feature improvements

[2021-12-18 10:03] #66 closed, assigned to nobody

[2021-12-18 10:08] mesqueeb commented on #55
I have released the official Vue 3 Blitzar! 🎉

- See new docs:
https://blitzar.cycraft.co/

Will continue to improve Blitzar heavily into 2022.

Blitzar does not use Quasar anymore and is now usable with any Vue framework.

(still need to test SSR and Nuxt though, might not be compatible with SSR just yet)

[2021-12-18 10:10] mesqueeb commented on #90
@ymarcon should be fixed with latest version. please give it a try : )

[2021-12-18 10:10] mesqueeb commented on #86
@suplere i finally released the Vue 3 version officially

- See new docs:
https://blitzar.cycraft.co/

I will look into this issue soon

[2021-12-18 16:32] phineas629 commented on #55
Thanks!

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Luca Ban ***@***.***>
Sent: Saturday, December 18, 2021 4:08:16 AM
To: CyCraft/blitzar ***@***.***>
Cc: Phineas Vang ***@***.***>; Mention ***@***.***>
Subject: Re: [CyCraft/blitzar] Vue 3 support (#55)

I have released the official Vue 3 Blitzar! 🎉

  *   See new doc

[2021-12-20 09:00] cess11 commented on #90
Had the same problem, works for me after reinstalling @blitzar/form@next with yarn.

[2021-12-20 09:18] ymarcon commented on #90
@cess11 @next gets 1.0.3, which works. When getting 1.0.6, it still fails, but differently:

[code]

[2021-12-20 09:47] mesqueeb commented on #90
@ymarcon is it a public repo?or can you share via email ?

[2021-12-20 09:59] mesqueeb commented on #90
@cess11
Do you have any issues on `npm i blitzar@latest`
And import like so:

[code]

[2021-12-20 10:27] ymarcon commented on #90
Yes, `yarn add blitzar@latest` works, but I get `@blitzar/form` version 1.0.3, which works.

You can give it a try with the project [obiba/quasar-ui-amber](https://github.com/obiba/quasar-ui-amber)

[code]

[2021-12-20 12:22] ymarcon commented on #90
I have cleaned my environment, `yarn add blitzar@latest` gets 1.0.6 as expected, I have also changed the `import` directives as you mentioned, but it does not work.

[code]

[2021-12-20 12:28] ymarcon commented on #90
Looks like there is no `build` script in the `types` sub-package.

[2021-12-20 12:33] mesqueeb commented on #90
@ymarcon the types package is a pure TS package consumed by the other packages. Should not cause any issues, maybe something related to webpack.
I have some time later tonight, will check your project locally  : )

[2021-12-20 16:03] mesqueeb commented on #90
@ymarcon sorry I'm too tired today, just finished work and it's 01:00 AM 😱

I'll try to look at your repo tomorrow.

[2021-12-21 01:24] mesqueeb commented on #90
@ymarcon thank you for the reproduction. I was able to fix the issue on the latest version `1.0.7`!

I have tested on your repo and it worked on my end now.

Let me know if there's anything else! 🎉

[2021-12-21 01:24] #90 closed, assigned to nobody

[2021-12-21 07:56] ymarcon commented on #90
Excellent, that works thanks!

[2022-01-05 03:41] mesqueeb opened #92 "docs: add example how to add auto-ellipsis to a column with one really long string"

[2022-01-05 06:15] mesqueeb opened #93 "swap out Ava with Vitest"

[2022-01-05 15:17] jasonfharris opened #94 "Suggestion: Submit Blitzar to vuejsexamples?"
I didn't see Blitzar in https://vuejsexamples.com/ under form. Blitzar is a lot nicer than the other form generators I saw on this list. You might want to submit it?

[2022-01-05 23:26] mesqueeb commented on #94
@jasonfharris thank you so much for your kind words!

Would you be able to help me putting it on there for me? 😊

[2022-01-08 06:21] mesqueeb opened #95 "upgrade to `script setup`"
- [x] BlitzTable
- [ ] BlitzField
- [ ] BlitzForm

pending https://github.com/vuejs/vue-next/issues/4294

[2022-01-09 01:45] rdemo opened #96 "validateFormPerSchema ignoring required = false"
Possible bug, or possibly I am missing something, but even if I set "required" = false, the validateFormPerSchema routine comes back requiring it still.

Here is my code...

In the schema:

{
          id: 'familyPostalCode',
          component: 'QInput',
          subLabel: 'Postal Code',
          errorFieldName: 'Postal Code',
          emitValue: true,
          dense: true,
          showCon

[2022-01-09 03:22] mesqueeb commented on #96
@rdemo should be fixed on latest: `blitzar@1.0.13` (i hope you're not on the vue 2 version... 😅 )
can you test and let me know if this helped? : )

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a> for its prolonged maintenance. </sub>

[2022-01-09 03:24] mesqueeb commented on #96
btw, for pasting code into github issues, next time don't forget to add this above your code blocks: ```js

and at the end close with ```

[2022-01-09 05:02] rdemo commented on #96
Yes!  That fixed it!  Thank you.

I've not posted much on github, thank you for letting me know about the ```js and ```.  I'll remember that next time.

Thanks again for such a quick response.

[2022-01-09 05:10] #96 closed, assigned to nobody

[2022-01-09 05:11] #55 closed, assigned to nobody

[2022-01-09 05:12] mesqueeb commented on #55
To everyone here:
Vue 3 release of Blitzar is getting quite stable! Closing this issue for now.

I still plan to:
- create a framework example for Quasar, Nuxt, ...

Let me know if anything's up!

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a> for its prolonged maint

[2022-01-09 08:08] rdemo opened #97 "BlitzListForm in BlitzForm"
I've followed the example, but it does not appear to be working.

If I create a BlitzListForm standalone it works, but when I move it into a BlitzForm, I can see the label, but the component itself is not loading any form components that are visible.

Before I go further, has this been implemented in the current version?

Thank you.

[2022-01-09 08:30] mesqueeb commented on #97
Yes of course, if it works on the docs page, no reason it wouldn't work for you. Unless there is some edge-case bug.

Can you share as much code as you have? Or ideally a reproduction hosted somewhere ?

Are there any errors in the console ?

[2022-01-09 11:29] rdemo commented on #97
No errors in the console are showing up...

Do you see anything wrong with the following?

I am using this in the Quasar framework BTW.

[code]

[2022-01-09 11:32] rdemo commented on #97
This is what is produced in the output... in case it tells you anything.

[code]

[2022-01-09 12:08] mesqueeb commented on #97
@rdemo just to make sure, do you have all components you're using registered globally?

Eg.
[code]

[2022-01-09 12:25] rdemo commented on #97
Yes I do. If I take the same schema out of BlitzForm it worked as
Blitzformlist.

On Sun, Jan 9, 2022 at 8:09 PM Luca Ban ***@***.***> wrote:

[2022-01-09 14:00] rdemo commented on #97
OK... sorry.  That was it. I now have it registered globally. and it works.  My misunderstanding.

Thank you for the help.

[2022-01-10 08:54] #97 closed, assigned to nobody

[2022-01-13 04:35] jasonfharris commented on #94
There is the https://vuejsexamples.com/submit-project/ link at the bottom of the page. The submission is probably best coming from the author? Again thanks for Blitzar!

[2022-01-16 22:59] phineas629 commented on #55
HI Luca,

Can you meet online for consulting?
I have questions about blitzar integration with quasar.

Thanks,
Phineas

On Jan 8, 2022, at 11:13 PM, Luca Ban ***@***.******@***.***>> wrote:

To everyone here:
Vue 3 release of Blitzar is getting quite stable! Closing this issue for now.

I still plan to:

  *   create a framework example for Quasar, Nuxt, ...

Let me know if anything's up!

--
Blit

[2022-01-22 09:41] ErikGoH commented on #86
Hey I also noticed the same behavior when trying to use `action-buttons-position="bottom"` I did some digging and I think I have found what's happening here.

# Problem
In short: The style that adds the flex display to `.blitz-form` is only doing it when `.q-form` is also present by this I mean in `packages/form/src/BlitzForm.vue` we have the following css

[code]

I found about the missing `displ

[2022-01-22 11:43] mesqueeb commented on #94
@jasonfharris thanks! I've emailed ;) let's see

[2022-01-22 12:09] mesqueeb opened #98 "upgrade all examples to `script setup`"
### Task
upgrade all example Vue files of the docs to `script setup`

- PS: The docs use [Vitepress](https://vitepress.vuejs.org) (not to confuse with Vuepress)
- Extra reading on `script setup` here: https://v3.vuejs.org/guide/composition-api-setup.html

### steps

1. `gh repo clone CyCraft/blitzar`
2. `cd blitzar`
1. `npm i`
2. build the project once `npm run build`
2. then open docs dev server

[2022-01-22 12:30] #86 closed, assigned to nobody

[2022-01-22 12:32] mesqueeb commented on #86
Fix made on latest version! `1.1.2`

PS: @erikgoh thanks for looking into it. I was able to quickly fix it because of you!

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a> for its prolonged maintenance.</sub>

[2022-01-23 14:23] #98 closed, assigned to LovelyAndy

[2022-01-23 14:54] mesqueeb commented on #86
just quick note, I had broken something about the BlitzTable with latest release.
fixed now!

[2022-01-29 11:36] prashantnirgun opened #100 "how to integrate it with Quasar 2"
Hi
I am new to Blitzar please help me to integrate this is not an bug its an help request. I want to get integrate Blitzar inside quasar vue 3
01 I installed using npm i blitzar
02 code
[code]

it was not showing q-input component on screen no error on console too. Is there any kind of boot file is required to registered any component globally ?
Note : Quasar Import all component is default settin

[2022-01-29 23:41] mesqueeb commented on #100
Just working on a Quasar example project for Blitzar. Should be able to share soon.

[2022-02-02 13:40] mesqueeb opened #101 "docs: add links"
- [x] add in between page links to header
- [x] add github link to header

[2022-02-02 13:40] mesqueeb opened #102 "bug(table): parseValue doesn't get `updateField` fn in FormContext"

[2022-02-02 13:41] mesqueeb opened #103 "feat(table): show sublabel as tooltip in table header"

[2022-02-02 13:41] mesqueeb opened #104 "feat(table): filters"

[2022-02-02 13:42] mesqueeb opened #105 "docs: add style section on tables"

[2022-02-02 13:44] mesqueeb opened #106 "fix: make colours use css variable fallback"
currently the components define the css variable while they shouldn't. they should only rely on the fallback color

[2022-02-02 13:54] mesqueeb opened #107 "feat(table): allow searching for option labels"

[2022-02-04 09:20] KazWar opened #108 "Vue warn label missing but label is supplied?"
I've had a go at using Quasar using Blitzar, and even though there is no Quasar example, the existing documentation gave me enough clues to work it out. Now there's an error being displayed which is clear, but to me it seems that it shouldn't be there. So maybe there's some underlying logic or library trick I'm missing.

![image](https://user-images.githubusercontent.com/24567052/152502779-12c9f10

[2022-02-04 09:55] mesqueeb opened #109 "refactor(table): make it so BlitzTableOuter.vue is a composable instead"

[2022-02-04 09:57] #101 closed, assigned to nobody

[2022-02-04 10:00] mesqueeb commented on #108
@KazWar currently the labels are rendered by `BlitzField` and not passed to your `testComponent`.

If you want to pass the labels to `testComponent` and not render them as `BlitzField` labels, you need to add this:

[code]
let me know if this solves it!

PS: En veel success ;)

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <

[2022-02-04 10:01] #94 closed, assigned to nobody

[2022-02-04 10:01] mesqueeb commented on #94
@jasonfharris they released it! 🎉

[2022-02-04 10:02] mesqueeb commented on #94
https://vuejsexamples.com/generate-vue-forms-and-data-tables-fast-with-a-simple-json-like-syntax/

[2022-02-04 10:08] KazWar commented on #108
Hey, thanks for the quick notice. I also stumbled it upon when inspecting the BlitzForm Properties, unfortunately it doesn't seem to actually work. 😢

`
      <blitz-form v-model="formData" :schema="schema" :internal-labels="true"/>`

![image](https://user-images.githubusercontent.com/24567052/152510862-28d49efc-6a4a-404d-9773-504bb92ee852.png)

[2022-02-04 10:51] mesqueeb commented on #108
Then it's a bug 😥 i will look into it. PR welcome as well!

[2022-02-04 14:25] mesqueeb commented on #108
@KazWar I have set up a Quasar example, but cannot reproduce this bug.
It works for me.

Please clone the repo and do these steps:
1. `npm i`
2. `npm run dev:quasar`
3. open browser at `localhost:8080`
4. check the source code at `example-projects/quasar`

Let me know if you have any further findings.

[2022-02-04 14:25] mesqueeb commented on #100
@prashantnirgun see here https://github.com/CyCraft/blitzar/tree/production/example-projects/quasar

[2022-02-04 14:26] mesqueeb commented on #100
let me know if you have any other questions!

[2022-02-04 14:26] #100 closed, assigned to nobody

[2022-02-04 15:36] KazWar commented on #108
Oh, I didn't notice your message. I already located & supplied a fix in a pull request. Give it a whirl😄

[2022-02-05 03:43] mesqueeb commented on #108
@KazWar can you try latest version and let me know if it fixed your issue?

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a></sub>

[2022-02-05 14:12] mesqueeb opened #111 "Improve prop types"
- [x] BlitzTable
- [x] BlitzField
- [ ] BlitzForm

---

@mesqueeb This is possible with a bit of type magic, yes.

[code]
Usage:
[code]

A little bit on how this works:

`ExtractPropTypes` gives you almost what you want, but the resulting interface has props with a default value marked as required. This is because this interface is the *internal* props interface - `this.$props`, where props with d

[2022-02-07 04:16] #108 closed, assigned to nobody

[2022-02-07 07:38] KazWar commented on #108
Yeah, it fixed the issue. 👍

[2022-02-09 11:24] #109 closed, assigned to nobody

[2022-02-09 11:26] #107 closed, assigned to nobody

[2022-02-09 11:26] #104 closed, assigned to nobody

[2022-02-09 15:19] isbincApps opened #113 "Error importing the lib in a quasar app"
hi bro, this error is happening is an ES module file as it is a .js file whose nearest parent package.json contains "type": "module" which defines all .js files in that package scope as ES modules
Instead rename index.umd.js to end in .cjs, change the requiring code to use import(), or remove "type": "module".

[2022-02-10 02:36] #93 closed, assigned to nobody

[2022-02-10 02:49] mesqueeb commented on #113
@isbincApps thanks for the report. will fix soon

[2022-02-10 03:28] mesqueeb commented on #113
@isbincApps should be fixed on latest version!

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a> for its prolonged maintenance.</sub>

[2022-02-10 18:46] robert-boulanger opened #114 "Documentation Site for BlitzListForm and BlitzTable are broken"
At the moment [BlitzListForm](https://blitzar.cycraft.co/blitz-list-form/) just returns 404
Same with BlitzTable

[2022-02-10 22:11] mesqueeb commented on #114
@robert-boulanger it works for me :O what's the issue you're seeing ?

[2022-02-12 19:55] isbincApps commented on #113
thanks, also is happening this error Unexpected token '.'

[2022-02-12 23:32] mesqueeb commented on #113
Can you give me a reproduction? It works fine for me.
This can mean a couple of things. Your browser might not be compatible or your build tool doesn't provide required poly fills or it could even be something completely else.

[2022-02-13 02:28] mesqueeb commented on #114
Let me know if you can reproduce it! 😅

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a> for its prolonged maintenance.</sub>

[2022-02-13 02:28] #114 closed, assigned to nobody

[2022-02-13 08:12] Bruno17 opened #116 "BlitzTable: drag/drop sortable"
Blitzar seems to be an absolutely great piece of code to generate forms and tables from json.
Do you think, it would be possible to implement drag/drop sortable rows into BlitzTable?

[2022-02-13 09:26] mesqueeb commented on #116
@Bruno17 i'll think about it, but it's extremely complex. The main issue is design choices like, what happens when you have multiple pages ?

[2022-02-13 14:38] Bruno17 commented on #116
I know. I have that functionality implemented in MIGX
https://github.com/Bruno17/MIGX

It is all ExtJS/PHP in that case.
It is easy for a MIGX field/Template Variable, which doesn't have pagination.
But it works also for remotely paginated MIGXdb tables.
The code, which does the processing after dragging looks like that:
https://github.com/Bruno17/MIGX/blob/master/core/components/migx/templates/mg

[2022-02-13 22:04] Bruno17 commented on #116
Seems to be an old request. Just stumbled over this comment:
https://github.com/quasarframework/quasar/issues/5890#issuecomment-587970308

[2022-02-13 23:58] mesqueeb commented on #116
@Bruno17 😅

I was young and restless haha.

The thing is, these days it's more difficult to find the time to work on open source. Especially since I don't personally need this feature.

I will probably end up trying to implement it within a few months when I find the time.
I'm open to sponsors if you want to speed up the process!

[2022-02-16 11:18] Bruno17 opened #117 "Functions in JSON"
I'm storing form schemas as JSON in a db and fetch that schemas dynamically via ajax, when needed.
In the advanced section of your docs you use functions as values.
Storing Functions in JSON that way is not possible.

Do you know a way, how I could store this functions as string and convert them to functions after fetching or do you have another workaround for that issue?

[2022-02-16 14:41] Bruno17 commented on #117
I've found this and modified it to my needs, which seems then to work so far.
https://stackoverflow.com/a/68833334
Not sure, if there is a better way.

[2022-02-16 17:02] KazWar opened #118 "Passing data from custom field to form v-model"
Hi, i'm having problems with passing the v-model from the blitz-form modelValue to the custom component. So as the docs state, I give an empty ref'd formData object to the blitz-form, it generates the fields inside the ref, but from there onwards i'm not quite sure how my fields are supposed to access it.

![image](https://user-images.githubusercontent.com/24567052/154310436-b0624dec-c2ed-433a-9cb

[2022-02-16 17:07] KazWar commented on #118
I'm aware the input is lacking a v-model attribute, but I just left it incomplete as i've tried various solutions with no real results.

[2022-02-17 00:29] mesqueeb commented on #118
@KazWar I think that you just need to define the `modelValue` prop in your custom component, and then also be sure to emit `update:modelValue` from that same custom component. Does this help?

[2022-02-17 00:30] mesqueeb commented on #118
also see the vue docs where they show how to create a custom input component for reference:
https://vuejs.org/guide/components/events.html#usage-with-v-model
<img width="803" alt="image" src="https://user-images.githubusercontent.com/3253920/154380733-a6a71280-de46-4c7e-ac6f-de01a32a87b7.png">

[2022-02-17 12:45] KazWar commented on #118
Yeah I eventually came to the solution using combination of vue + your docs.

[code]

Maybe the solution was obvious, but I haven't really worked with emits and was just confused by customInput component. My bad on that one.

[2022-02-17 12:45] #118 closed, assigned to nobody

[2022-02-22 10:44] KazWar opened #119 "Recursive component generation"
Hey, I was wondering whether it's somehow possible to generate a form using a schema with components that have sub-components in them. For example using this schema:

[code]

Would generate 4 dropdowns. Or if not that somehow partially generate a schema, or supply a schema after blitz-form init (EG passing an empty form object) wrapping it over some non-form components and then supply the schema f

[2022-02-22 12:28] mesqueeb commented on #119
@KazWar yes, you can just use BlitzForm as the schema component, and then you can pass a nested schema. 😄

[2022-02-22 12:29] mesqueeb commented on #119
@KazWar however, if your goal is an html select, then check the advanced example in the docs. I show how to pass elements to the slot of select.

[2022-02-22 15:48] KazWar commented on #119
Could you show an example using mine maybe? I think this would be mighty useful. Cause i'm not quite sure how then. Would I replace the subcomponent select with BlitzForm and then...? Or use slot to render children?

[2022-03-01 12:07] isbincApps commented on #113
[code]

[2022-03-01 12:08] isbincApps commented on #113
<img width="953" alt="image" src="https://user-images.githubusercontent.com/28198014/156166568-558b244e-cdba-4747-9917-a2faff98e6e4.png">

[2022-03-06 07:54] mesqueeb commented on #117
@Bruno17 yeah. this is a limitation of JSON which is better solved outside of Blitzar 😅

Could you add something on this to the documentation?

We could add it somewhere on the advanced page:
https://blitzar.cycraft.co/advanced/

there are edit on github links at the bottom of the documentation now! 🎉

[2022-03-09 14:01] isbincApps commented on #113
const isHtml5SelectField = component === 'select' && (isWhat.isArray(slot) || isWhat.isArray(slots?.default));
SyntaxError: Unexpected token '.'

thats the error

[2022-03-09 15:54] mesqueeb commented on #113
@isbincApps ok so it's not expecting the `.` after the `?` I guess. I think this can be solved by updating your `tsconfig.json` to include `esnext` inside of `"lib"`

Is your project a JS only Quasar project? In that case, I'm not sure if you have a `tsconfig.json` ? : O

[2022-03-09 16:02] isbincApps commented on #113
yes, my project is only js and it doesn't have a tsconfig.json file

[2022-03-13 08:54] Bruno17 opened #123 "Use Blitzar with Quasar UMD"
Is there a way to use Blitzar in an APP, that uses Quasar UMD without a build step?
How is it possible to build a UMD Version of Blitzar and use that together with the UMD Version of Quasar?

[2022-03-15 08:02] mesqueeb opened #124 "filters example broken"

[2022-03-22 21:52] TimTraylor opened #125 "Cancel Original Data State (oldData) Update From Built-In Save Action"
Hi Luca & team,

Nice work on all of this!

I'm wondering if there is a way to stop the automatic updating of the oldData to the formData from the built-in 'Save' action. As an example, I'm passing in a form-level validation function along with the schema, and I execute this additional function before saving to the back-end. If that validation fails I'll exit the function (defined on the Save butt

[2022-03-22 23:12] mesqueeb commented on #125
This should be the case when using the built in validation system. Or is using this not an option for you?

Can you show me some code so I can think about the best solution?

[2022-03-23 12:43] TimTraylor commented on #125
I was trying to address cross-field validation. So things like "If 'ACH' is chosen as a payment method, then checking account and transit routing numbers are required". Or generically, "If the value of 'foo' is A, B, or C then the value entered for 'bar' must be between 5 and 10'. Those types of things.

So, what's being returned from an API call would look something like this (most schema fields

[2022-03-25 01:34] ronald-mz opened #126 "For custom components how to using prop "label" ?"
I'm using Quasar with BlitzarForm, and want to use the `q-input` as a custom component.

However, Blitzar uses `label` to create its own label over the component. How would I pass `label` to the custom component rather than to Blitzar?

[2022-03-25 01:37] ronald-mz commented on #126
Nevermind, dug through the other issues a bit more and found a solution [here](https://github.com/CyCraft/blitzar/issues/108#issuecomment-1029821615)

Best! And thanks for an awesome library!

[2022-03-25 05:28] mesqueeb commented on #126
good luck!

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a> for its prolonged maintenance.</sub>

[2022-03-25 05:29] #126 closed, assigned to nobody

[2022-04-05 07:16] layanto commented on #117
I think Blitzar schema syntax should be a valid JSON (as such can be stored in database). For example:
- JSONForms Rules (equivalent to Blitzar's dynamic props): https://jsonforms.io/docs/uischema/rules/
- FormKit Validation (equivalent to Blitzar's validation): https://formkit.com/essentials/generation

[2022-04-05 08:17] mesqueeb commented on #125
@TimTraylor can you add me on discord:
Luca Ban [Mesqueeb]#4774

[2022-04-05 08:21] mesqueeb commented on #125
@TimTraylor I tried to show you an example using dynamicProps for the error that would achieve something similar to what you showed me:
[code]

just one example, but I can imagine that this way of writing your validation functions should be usable for the other things you wanted to achieve as well?

[2022-04-05 08:25] mesqueeb commented on #119
@KazWar I'm not sure I understand what you are trying to achieve exactly.

But the advanced example in the docs show how to use a slot to render nested `<option>` html tags to create a select dropdown:
https://blitzar.cycraft.co/blitz-form/#advanced-example

is this what you were trying to achieve?

[2022-04-05 08:34] mesqueeb commented on #117
@layanto
I hear you, but any "valid JSON" schema that tries to represent javascript functions will just be something that a library comes up with and then provides the logic to convert this JSON code from and to JavaScript.

Coming up with an entire set of possible validation rules in just plain text to then apply some sort of validation system on top of Blitzar is a lot of work and I would ideall

[2022-04-05 08:36] mesqueeb commented on #113
@isbincApps sorry I haven't found the time yet to try and set up a JS only project and reproduce this issue.

if you could provide me with a zip with such a project (excluding node_modules folder), which I can just open, `npm i` and run to reproduce this issue, that'd make it a lot faster for me! ; )

[2022-04-05 09:54] layanto commented on #117
I do love the flexibility of dynamic props for validation and logic to hide/show or enable/disable form elements.

I still wish there is an easy way to store the schema as string in database and restore the schema from database.

[2022-04-05 10:05] layanto commented on #117
How about using this library for dynamic props? Functions in dynamic props are expressed as string (as such can be stored as json) and at run time evaluated via expr-eval library. This limits the flexibility of dynamic props to functions supported by expr-eval but maybe still powerful enough for most use cases?

https://github.com/silentmatt/expr-eval

[2022-04-05 10:16] Bruno17 commented on #117
my solution looks like that:
https://github.com/Bruno17/blitzar-quasar-proto/blob/main/src/pages/Index.vue#L66

then I can store functions as string like that:
https://github.com/Bruno17/blitzar-quasar-proto/blob/main/public/controllers/form#L55

[2022-04-05 10:21] Bruno17 commented on #123
Is it possible to build a UMD Version somehow?
Sorry, I'm not very familiar with all that build tools stuff.

[2022-04-05 13:30] mesqueeb commented on #123
Dear Bruno,
Unfortunately I'm not familiar with UMD builds, or how that would work . 😅 I'd need to test this in an example project to see what happens.

I haven't had the time to test or research this yet. Can you perhaps provide me with an example project?

[2022-04-05 14:01] Bruno17 commented on #123
Here's a simple example, which uses vue-form-json-schema
https://github.com/miguelzapaton/vue3-form-json-schema/tree/master/examples/umd/example-quasar

I think, I would like to start with a setup something like that and generate the forms with blitzar:
https://github.com/SaleCar/Quasar-UMD-Template

[2022-04-06 00:54] layanto commented on #117
@mesqueeb
How about this?

If a dynamic prop (i.e. listed in the dynamicProps) is NOT of type string, then do the current behaviour.
Else
execute the string dynamic prop as follows:
[code]

Since the dynamic prop 'function' is stored as string, this can be converted to JSON and stored in database.

I have tested the following as string and appeared to work:
[code]

[2022-04-06 21:25] tpoxa commented on #29
Any change to seeing it in the nearest future?

[2022-04-08 00:06] anuzis opened #128 "BlitzTable documentation page crashes Chrome"
https://blitzar.cycraft.co/blitz-table/ -- attempted to view this page repeatedly and it crashes my Chrome tab every time.  Console logs don't give any indication of what's going wrong.

Looking for ways to dynamically render Quasar text inputs, pulldown menus, & inline editable tables and came across the Quasar EasyForm and Quasar EasyTable projects as top candidates of exactly what we're looking

[2022-04-08 00:44] mesqueeb commented on #128
@anuzis

Here is an example project with Quasar:
https://github.com/CyCraft/blitzar/tree/production/example-projects/quasar

--

I don't know what is the cause of the crash on chrome.

It doesn't happen to me (macOS). Do you have Windows?

Another friend on Windows told me the same thing, it's very odd.

[2022-04-08 01:19] anuzis commented on #128
BlitzTable documentation page crashes on:
- main desktop running: Linux Mint
- Chromebook
- Android phone

On my phone the page seems to remain functional until I try to toggle open the menu icon at the upper left.  Edit: attempting to click anything on the page (e.g. any table) also triggers the freeze on my phone.

On my Chromebook the page dies within about 10 seconds while remaining near the t

[2022-04-08 13:47] TimTraylor commented on #125
Thanks Luca, that was just a simple use case of cross-field validation at the form level, but the idea was needing something to execute at the form level before allowing a submit to be 'successful'. If you have any complex multi-field validation, trying to attach that to just one of the fields can be difficult.

I could certainly do it without using the built-in action buttons, but I really liked

[2022-04-08 18:10] tarikrital opened #129 "BlitzForm QTable using body slot Popup editing"
Thank you for offering this useful library with a doc **too**.

Is it possible to use QTr , QTd as slot component or it is open for html tags only?

![image](https://user-images.githubusercontent.com/52907282/162497959-df1874d0-cc70-4a24-8c54-d8f748f77825.png)

[code]

[2022-04-09 03:21] mesqueeb commented on #125
I can introduce a form level error prop that in checked when clicking the save action button.

[2022-04-13 23:08] damiankao opened #130 "BlitzListForm with Quasar framework"
This is a sample schema I am using to display a BlitzListForm within a BlitzForm:

[code]

The expected behavior is that an q-select component is shown with 2 select options (1,2). And a BlitzListForm is displayed where each item in the array is defined by a q-select (options a,b) and a q-input value.

The outer q-select with options 1,2 displays correctly, but the BlitzListForm only shows the for

[2022-04-13 23:58] damiankao commented on #130
It turns out BlitzForm and BlitzListForm were not globally registered. I ended up just importing markRaw from Vue and used the locally registered components to make it work.

Thanks for the great component.

[2022-04-13 23:58] #130 closed, assigned to nobody

[2022-04-14 01:52] mesqueeb commented on #130
glad it worked!

<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You cannot sponsor every project, but next time you do, think of <a href="https://github.com/sponsors/mesqueeb">this one</a> for its prolonged maintenance.</sub>

[2022-04-15 13:35] gunners81 opened #131 "QSelect can not display label"
greetings,

i have a problem to display q-select options label, it always show value of options.
my workaround is to use default component select not QSelect, but it will lost quasar style/css

please guide me how use quasar QSelect "map-options" inside json schema

[2022-04-15 22:48] mesqueeb commented on #131
Did you try adding `mapOptions: true,` ?

Please post some code snippets so I can help. : )

[2022-04-17 12:38] gunners81 commented on #131
{
        id: "role",
        label: "Role",
        component: "QSelect", // make sure it's registered in `quasar.conf.js`
        options: [
          { value: "", label: "Select one", disabled: true },
          { value: "3", label: "Admin JBR" },
          { value: "4", label: "Admin JTG" },
          { value: "5", label: "Admin JTM" },
          { value: "6", label: "Keuangan" },
        ],

[2022-05-17 07:11] shershen08 commented on #113
A similar issue happens to me,
I am using Vue3 + Quazar installed as a lib, not via Quazar CLI - it seems to be the problem

[code]

[2022-05-17 21:57] haniyasin commented on #128
confirmed BlitzTable documentation page crashes on chrome on windows 10
did not crash when tried opera browser

[2022-05-21 10:26] shershen08 commented on #113
Show me the problem was fixed after I manually (via https://babeljs.io/) transpired this file and importing CJS file not es-module file, like so
`import { BlitzForm } from '~blitzar/dist/index.cjs'`

[2022-06-02 15:26] shershen08 opened #134 "Display and handle <input type="file"/>"
Current implementation does not allow to create a custom <input type="file"/> file.

In my field config I set the event property to follow the 'change' event and then trying to fill in the value with file content as so:
[code]

with this I get -
[code]

[2022-06-02 15:55] mesqueeb commented on #134
i think there's no way around this limitation as it's the rules of the `input type=file`

the only thing you can do is create your own custom Vue component that's a wrapper of input type=file.

Since blitzar has the philosophy of "bring your own components" providing this for you is out of the scope of this library though 😅

good luck!
<sub>--<br />Blitzar was made with 💜 by Luca Ban.<br />You can

[2022-06-02 15:55] #134 closed, assigned to nobody

[2022-06-03 01:24] dSlyders commented on #119
im trying to use this exemple : https://blitzar.cycraft.co/blitz-form/#advanced-example

Its not working

`{
    id: 'powerUps',
    span: 1,
    // See more info in the Use Custom Components chapter
    component: 'BlitzForm',
    label: 'Choose some power-ups',
    columnCount: 3,
    schema: [
          {
            id: 'iso-8',
            component: 'input',
            type: 'checkbox',

[2022-06-03 01:55] mesqueeb commented on #119
"its not working" is a bit vague 😅

[2022-06-03 02:41] dSlyders commented on #119
[code]

ok i find a solution :  component: BlitzForm,   work
but  component: 'BlitzForm'  not working

Now the new problem is :

when this component BlitzForm are in a Slot it do not update the FormData if i put it ouside a slot its working

[2022-06-22 16:47] duurland opened #135 "BlitzListForm breaking with quasar?"
First off, this is an awesome library, thank you for maintaining it :)

I'm trying to get Quasar to work with [this example](https://blitzar.cycraft.co/blitz-list-form/#blitzform-example) (BlitzListForm nested in a BlitzForm)

Taken the following schema, `teacher.*` renders just fine but `students[]` break, the labels seems to be lost and rendered as separate components. Something I'm missing? Doe

[2022-06-22 20:24] mesqueeb commented on #135
Did you import the Blitzar css ?

[2022-06-23 03:33] duurland commented on #135
Yes, see this demo.
https://stackblitz.com/edit/quasarframework-ckyejb?file=src%2Fpages%2FIndexPage.vue

To clarify, the problem is not the css. But that the components in BlitzListForm does not receive the props for the label/hint, which is not consistent with how the components are rendered with BlitzForm.

[2022-06-23 03:42] duurland opened #137 "Edit this page on GitHub: 404"
The "Edit this page on GitHub" -links at the bottom of the docs returns 404.

https://blitzar.cycraft.co/blitz-form/#validate-formdata-programatically
currently links to https://github.com/cycraft/blitzar/edit/production/packages/docs/docs/blitz-form/index.md

[2022-06-23 15:15] duurland commented on #62
The `@save`  payload already looks like `{ newData, oldData, formData }`. I guess this has already been implemented?

[2022-06-23 17:32] duurland commented on #131
Added a defaultValue, but your snippet works fine for me.
Please provide a full example if you're still facing the problem.
![Untitled](https://user-images.githubusercontent.com/22466178/175359118-94b361ca-16d3-4578-bf66-b8a67fbe2e45.png)

[2022-06-23 19:44] duurland opened #139 "How to run dev env?"
I'm trying to get the dev environment up and running, but I keep running into errors.
Something doesn't seem to resolve correctly. I've tried bootstraping with lerna, but no luck.
What are the commands/steps to get it running?

https://user-images.githubusercontent.com/22466178/175383302-86abbb4d-0cb8-4c32-9312-d26d49996cf2.png

[2022-06-24 00:41] mesqueeb commented on #139
@duurland i'll try having a look this weekend and let you know

[2022-06-24 01:29] mesqueeb commented on #131
@duurland thanks for looking into this! I really appreciate all the help.

Let's close this until further communication from the original poster. : )

Ps: Will look into launching the dev server soon!

[2022-06-24 01:29] #131 closed, assigned to nobody

[2022-07-22 09:36] gunners81 opened #142 "Dynamic "Options" of a Select-Field in BlitzListForm"
can i have an example for how to use Dynamic "Options" of a Select-Field in BlitzListForm ?

for example i want to fill 3rd column options based on 2nd column selected value

<img width="1373" alt="Screen Shot 2022-07-22 at 16 32 01" src="https://user-images.githubusercontent.com/12673285/180410599-73c79ee9-579c-49e7-b559-5f8b62f7fe3b.png">

[2022-07-24 16:06] gunners81 commented on #142
solved, using "rowIndex" props :)

blitzar is awesome !

[2022-07-24 16:06] #142 closed, assigned to nobody

[2022-08-24 06:46] mesqueeb commented on #117
@layanto i'm open to the idea. Are you willing to make a PR?

[2022-08-31 03:22] Nova38 commented on #128
I have had the same issue on android 11 (Samsung s21 ultra) in both chrome, edge, and Vivaldi.

I also have the issue on my windows 11 computer with chrome, edge, Firefox dev editions, and opera.

[2022-09-04 11:16] azapater opened #144 "Issue with complex layouts"
Hi! first of all, congratulations for such a great project!

it ticks a lot of issues I've been facing when it comes to creating forms with other libraries I checked and discarded in the past. great job!

I've been playing around this weekend with the library and even though I love it, I'm facing a few issues trying to migrate a personal project when it comes to the layout of the form.

I use quas

[2022-09-04 11:57] mesqueeb commented on #144
@azapater is it possible to just use 3 separate `<BlitzForm />` ?
You could make 1 wrapper form component manually that houses these 3 BlitzForms

in this case does it solve your issue by using the `fieldClasses` prop and adding your `-col-` classes?

[2022-09-04 13:40] azapater commented on #144
thanks for the quick reply. I will play around with this approach and let you know ;-)

[2022-09-04 17:36] azapater commented on #144
I've been trying a few extra things, but I'm afraid I won't be able to migrate the forms as they are atm. One of the issues I'm facing is the style injected in the form slot to control the columnCount that messes up the quasar grid system, and being straight in the style tag it can't be overwritten.

[code]
I guess I could try to override the whole slot myself and adapt it to my needs but IMO I'm

[2022-09-04 17:36] #144 closed, assigned to nobody

[2022-10-13 14:52] fmcalbuquerque commented on #8
Is there a way to style the field if he is not valid?

I would like to have a class like blitz-field__error so I can set a style in this cases.

[2022-10-18 18:14] robshep opened #145 "Question: Nested Map objects"
Hi,
Nice looking library.  great job.

Is it possible to use nested properties, like the BlitzListForm, but where the keys are dynamic but each element is of the same type?

[code]

Thanks

[2022-10-18 23:50] mesqueeb commented on #145
@robshep you'll have to convert it to an array to display in a blitzListForm and then convert it back into an object when you need the data back in its original shape.

[2022-11-14 21:02] abbjetmus opened #147 "Use VueUse composable useVModel to update all props"
Hi! Thank you for the work put in Blitzar.

I'm using Blitzar to create a dynamic form creator where user selects form-components and then modify properties on the form components. Change schema values.
I would like to use VueUse composable to achieve this change props and then updating through emits the schema and not just form data. Is this possible could you give some hints best way to change s

[2022-11-28 14:18] abumalekFayed opened #149 "Custimazation of error messages as message for required inputs."
Firstly I want to thank you for this great work it is very powerful and simple for understanding thank you very much.
my question is  How to customize error validation messages as a required validation error message?

[2022-11-29 09:15] abumalekFayed opened #150 "Showing list form new item in popup"
It will be amazing if you add the option of showing a list form new item in popup and enable setting of dafault values for new item.

[2022-11-29 21:46] abumalekFayed opened #151 "How to use builtin label of custom components (quasar input)?"